<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Whimsy</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/landing/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/static/landing/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/landing/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/landing/vendor/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="/static/landing/css/new-age.min.css" rel="stylesheet">
    
    
        
    <!-- jQuery -->
    <script src="/static/landing/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/landing/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/landing/js/new-age.min.js"></script>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var ip = "http://ec2-54-214-92-209.us-west-2.compute.amazonaws.com";
        //var ip = "http://192.168.1.69:9000";
        $(document).ready(function () {
            $('#login-form').submit(function (e) {
                var username = $('#username').val();
                var password = $('#password').val();
                authLogin(username, password);
                e.preventDefault();
            });
            $("#reg-form").on("ValueChange", function(){
               console.log("lmaooooo"); 
            });
            $('#reg-form').submit(function (e) {
                var username = $('#username-reg').val();
                var password = $('#password-reg').val();
                var firstname = $('#firstname').val();
                var lastname = $('#lastname').val();
                var email = $('#email').val();
            
                authRegister(username, password, firstname, lastname, email);
                e.preventDefault();
            });
        });
        
        authLogin = function (username, password) {
          $.ajax({
            type: "POST",
            dataType: "json",
            //beforeSend: {},
            //contentType: "application/json",
            url: ip+"/api-token-auth/",
            data: 
                {
                    "username": username,
                    "password": password
                },
            success: function (response) {
                if(response.token)
                {
                    var now = new Date();
                    now.setHours(now.getHours() + 1);
                    document.cookie = "token="+response.token+";expires="+now.toUTCString()+";path=/";
                    //document.cookie = ";expires="+now.toUTCString();
                    //document.cookie = ";path=/";
                    console.log(document.cookie);
                    window.location.replace("/home");
                    //window.location.replace("../index.html");
                }
                else if(response.status === -2)
                {
                    $("#LoginResponseMessage").append("Incorrect username or password");
                }
            },
            error: function (response) {
                console.log(response);
            }
          });
        };
        authRegister = function (username, password, firstname, lastname, email) {
          $.ajax({
            type: "POST",
            url: ip+"/user/signup",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify({
                "user":
                {
                  "username":username,
                  "password": password,
                  "last_name": lastname,
                  "first_name": firstname,
                  "email": email
                }
            }),
            useDefaultXhrHeader: false,
            success: function (response) {
              console.log(response);
              if(response.status === 1)
              {
                  $("#LoginModal").modal("toggle");
                  $("#RegisterModal").modal("toggle");
                  $("#LoginResponseMessage").append("You have successfully registed a new account, you can now login!");
              }
            },
            error: function (response) {
                console.log(response);
                $("#RegisterResponseMessage").append("A user name or an email like that already exists.");
            }
          });
        };
        
    </script>

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Image Search</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#getstarted">Get Started</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <!--
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Image Search makes your memories more memorable.</h1>
                            <a href="#getstarted" class="btn btn-outline btn-xl page-scroll">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/static/landing/img/demo-screen-1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="getstarted" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover your photos in a new way</h2>
                    <p>Sign up or log in to get started!</p>
                    <div class="badges">
                        <a data-toggle="modal" data-target="#LoginModal" class="btn btn-outline btn-xl page-scroll">Log In</a>
                        <a data-toggle="modal" data-target="#RegisterModal"class="btn btn-outline btn-xl page-scroll">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Bring context to your photos!</h2>
                        <p class="text-muted">Check out what you can do with Image Search</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="/static/landing/img/demo-screen-1.jpg" class="img-responsive" alt=""> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-screen-smartphone text-primary"></i>
                                    <h3>Personal</h3>
                                    <p class="text-muted">Your personal photo storage with easily recognisable memories!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-camera text-primary"></i>
                                    <h3>Memorable</h3>
                                    <p class="text-muted">Find that memory of you and your loved ones at your favorite places!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-present text-primary"></i>
                                    <h3>Shareable</h3>
                                    <p class="text-muted">Share and tag your friends in your photo storage!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-lock-open text-primary"></i>
                                    <h3>Private</h3>
                                    <p class="text-muted">Your photos are for your eyes only!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
<!--
    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>What are you waiting for?</h2>
                <a href="#contact" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            <h2>We <i class="fa fa-heart"></i> new friends!</h2>
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>
    -->
    <footer>
        <div class="container">
            <p>&copy; 2017 Whimsy. All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>
    
<div id="LoginModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Login</h2>
        </div>
        <div class="modal-body">
            <div id="LoginResponseMessage"></div>
            <form class="form-inline" method="POST" id="login-form">
                <div class="form-group">
                  <label class="sr-only" for="username">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <br>
                <div class="form-group">
                  <label class="sr-only" for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password">
                </div>
            <div class="modal-footer">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox"> Remember me
                  </label>
                </div>
                <center><button type="submit" class="btn btn-outline btn-xl page-scroll" id="login">Sign in</button></center>
                <p>Don't have an account?<button data-toggle="modal" data-dismiss="modal" data-target="#RegisterModal" class ="btn btn-outline btn-sm page-scroll">Sign Up</button></p>
            </form>
            </div>
        </div>
      </div>
    </div>ic
</div>

<div id="RegisterModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Sign Up</h2>
        </div>
                    <div class="modal-body">
                        <div id="RegisterResponseMessage"></div>
                        <form class="form-inline" method="POST" id="reg-form">
                        <div class="form-group">
                          <label class="sr-only" for="username-reg">Username</label>
                          <input type="text" class="form-control" id="username-reg" placeholder="Username">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="firstname">Fisrt name</label>
                          <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="lastname">Last Name</label>
                          <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="email">Email</label>
                          <input type="email" class="form-control" id="email" placeholder="email">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="password-reg">Password</label>
                          <input type="password" class="form-control" id="password-reg" placeholder="Password">
                        </div>
                 </div>
        <div class="modal-footer">
             <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox"> Remember me
              </label>
            </div>
            <center><button type="submit" class="btn btn-outline btn-xl page-scroll" id="register">Register</button></center>
            <p>Already have an account?<button data-toggle="modal" data-dismiss="modal" data-target="#LoginModal" class ="btn btn-outline btn-md page-scroll">Log In</button></p>
                        </form>
        </div>
    </div>
  </div>
</div>

</body>

</html>
